
{% extends "layout.html" %} {% load static %}
{% block body %}

<div class="card text-center card bg-light" >
  <img src="{% static 'img/team/diu.jpg' %}" width="640" height="300" class="card-img-top" alt="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Student Registration System</h5>
    <p class="card-text">This is a prototype of a Student Registration System Developed by team VENOM<br>
        This website is under contruction. There are a lot more to come.
    </p>
    <a href="/about" class="btn btn-info">About US</a>
  </div>
</div>

{% endblock %}
